.header{
  height: 60px;
  width: 100vw;
  padding: 10px 10px;
  background-color: $md-blue-300;
  display: flex;
  justify-content: space-between;

  &__top{
    font-size: 1.75rem;
    color: $md-white;
    display: block;
    text-decoration: none;
    padding: 3px 10px;
    margin-left: 20px;
    border-radius: 5px;
    line-height: 34px;

    &:hover{
      opacity: 0.75;
    }
  }

  .header-info{
    height: 100%;
    display: flex;

    a{
      font-size: 1.3rem;
      color: $md-white;
      text-decoration: none;
      display: block;
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 20px;
      line-height: 30px;

      &:hover{
        opacity: 0.75;
      }
    }
  }
}