.header{
  height: 60px;
  width: 100vw;
  padding: 10px 10px;
  background-color: #64b5f6;
  display: flex;
  justify-content: space-between;

  &__top{
    font-size: 1.5rem;
    color: white;
    display: block;
    text-decoration: none;
    padding: 3px 10px;
    border: 3px solid white;
    margin-left: 20px;
    border-radius: 5px;
    line-height: 28px;
  }

  .header-info{
    height: 100%;
    display: flex;

    a{
      font-size: 1.3rem;
      color: white;
      text-decoration: none;
      display: block;
      padding: 5px 10px;
      border: 3px solid white;
      border-radius: 5px;
      margin-right: 20px;
      line-height: 24px;
    }
  }
}