.header
  = link_to 'SubscripS','/' ,class: "header__top"
  .header-info
    = link_to 'ログイン', login_path, class: 'header-info__login'
    = link_to 'サインアップ', signup_path, class: 'header-info__signin'