<h1>Hello SubscripS</h1>
<h2>Wellcome!!<h2>
<div>
<%= form_for @item do |form| %>
<%= form.text_field :title %> <%= form.submit %>
      <% end %>
    </div>
<p> <ul>
<% @items.each do |item|%>
<li><%= item.title %></li>
<% end %>
</ul> </p> 